* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(248, 248, 188);
    line-height: 1.7;
}

#nav-bar {
    background: black;
    color: white;
    overflow: auto;
}

#header-img {
    float: left;
    width: 200px;
    padding: 15px;
}

#nav-bar ul {
    float: right;
    list-style: none;
}

#nav-bar ul li {
    float: left;
}

#nav-bar ul li a {
    display: block;
    padding: 45px;
    text-decoration: none;
    color: gold;
}



@media (min-width: 800px) {
.container {
    display: flex;
    
   
}
}

@media (min-width: 799px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        padding: 20px;
    }
    }

.products {
    background-color: orange;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 15px;
    border: black solid 3px;
    margin: 0 10px;
    padding: 20px;
}

.products h4 {
    align-self: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.products img {
    height: 200px;
    margin: auto;
}

.products p {
    color: white;
    text-align: center;
    padding-top: 10px;
    font-weight: 500;
}

.form h5 {
    text-align: center;
    font-size: 1.2rem;
}



