* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: "Roboto", Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(248, 248, 188);
    line-height: 1.7;
}

#header {
    position: fixed;
    width: 100%;
}

#nav-bar {
    background: black;
    overflow: auto;
}

#header-img {
    float: left;
    width: 180px;
    padding: 15px;
}

#nav-bar ul {
    float: right;
    list-style: none;
}

#nav-bar ul li {
    float: left;
}

ul li a {
    display: inline-block;
    padding-top: 40px;
    padding-right: 20px;
    text-decoration: none;
    color: white;
}

#characteristics {
    display: block;
    padding-top: 15%;
    
}

#health-benefits {
    margin-top: 10vh;
}

#health-benefits h3 {
    text-align: center;
}

#video {
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    border: black solid 3px;
}

#products {
    
}

@media (min-width: 800px) {
.container {
    display: flex;
    
   
}
}

@media (min-width: 799px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
        padding: 20px;
    }
    }

.products {
    background-color: orange;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 15px;
    border: black solid 3px;
    margin: 0 10px;
    padding: 20px;
}

.products h4 {
    align-self: center;
    font-size: 1.2rem;
    font-weight: 700;
}

.products img {
    height: 200px;
    margin: auto;
}

.products p {
    color: white;
    text-align: center;
    padding: 10px;
    font-weight: 500;
}

.buy-now-btn {
    width: 120px;
    height: 30px;
    margin: 5px auto;
    border-radius: 5px;
    font-size: 0.9rem;
    background-color: rgb(255, 255, 255);
    outline-style: none;
}

.form {
    position: relative;
    background-color: burlywood;
    height: 200px
}

.form h5 {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 80px;
    margin-bottom: 20px;
}

#email {
    display: block;
    margin: auto;
    padding-left: 20px;
    width:  50vw;
    font-size: 0.9rem;
    line-height: 3;
    border-radius: 6px;
    border: none;
    outline-style: none;
}



.btn {
    display: block;
    margin: 10px auto;
    width: 120px;
    height: 40px;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 700;
    outline-style: none;
    background-color:orange ;
    
}

#footer {
    background-color: black;
    height: 10vh;
    margin-top: 50px;
}

#footer p {
    color: white;
    text-align: center;
    padding-top: 20px;
}
